# See https:frontend/frontend/help.github.comfrontend/articlesfrontend/ignoring-filesfrontend/ for more about ignoring files.

# dependencies
4.frontend/node_modules
4.frontend/.pnp
.pnp.js

# testing
4.frontend/coverage

# production
4.frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*git
yarn-debug.log*
yarn-error.log*

.idea/