# See https:frontend/frontend/help.github.comfrontend/articlesfrontend/ignoring-filesfrontend/ for more about ignoring files.

# dependencies
4.frontendWithDockerCompose/node_modules
4.frontendWithDockerCompose/.pnp
.pnp.js

# testing
4.frontendWithDockerCompose/coverage

# production
4.frontendWithDockerCompose/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*git
yarn-debug.log*
yarn-error.log*

.idea/

/visits/node_modules/